.content{
    /* 
    width: 25%;
    height: 50px;
    margin: auto;
    background-color: blue;
    padding: 2em;
    border-radius: 1em;
    overflow: hidden; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: space-around; */
    /* align-items: center; */
}

.container_form{
    /* background-color: green; */
    width: 25%;
    background-color: white;
    padding: 2em;
    border-radius: 1em;
    height: 100%;
    margin: auto;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}