.logos{
    width: fit-content;
    height: 100%;
}

.IconComfa{
    background-image: url('/images/salud_comfamiliar.png');
    width: 150px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
}
.IconUTP{
    background-image: url('/images/logo_utp.png');
    width: 130px;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 1em;
}