.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.formStyles{
    width: 50%;
    margin: auto;
}

.modalPDF{
    background-color: red !important;
}